/*
    Created on : 10.8.2017, 18:59:00
    Author     : Buri22
*/
body {
   background: #fff;
   width: 100%;
   height: auto;
   font-size: 1.5em;
   font-family: 'Open Sans', sans-serif;
   font-weight: normal;
   color: #798097;
   line-height: 2.3rem;
   font-smoothing: antialiased;
   -webkit-font-smoothing: antialiased;
   -moz-font-smoothing: antialiased;
   -o-font-smoothing: antialiased;
}

/*========== Counter Page ==========*/
#start_stop_section {
    position: relative;
    margin-top: 60px;
}
#buttonStart {
    border-radius: 4px;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px !important;
    margin: 4px 2px !important;
    /* To determine the speed of the "hover" effect*/
        -webkit-transition-duration: 0.4s !important; /* Safari */
        transition-duration: 0.4s;
    cursor: pointer;
    
    background-color: #4CAF50; /* Green */
    border: 1px solid #3e8e42; /* Dark Green */
}
#buttonStart:hover {
    background-color: white;
    color: black !important;
}
#buttonStop {
    border-radius: 4px;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px !important;
    margin: 4px 2px !important;
    /* To determine the speed of the "hover" effect*/
        -webkit-transition-duration: 0.4s !important; /* Safari */
        transition-duration: 0.4s;
    cursor: pointer;
    
    background-color: #ff751a; /* Blue */
    border: 1px solid #e65c00; /* Dark Blue */
}
#buttonStop:hover {
    background-color: white;
    color: black !important;
}

#task_action_buttons .btn-action {
    width: 22%;
}
.task_actions {
    display: flex;
    justify-content: center;
    /*margin-top: 20px;*/
}
.task_actions button {
    margin: 20px 10px 0 10px;
}

#output_section {
    height: 500px;
}


/*========== Modal Window ==========*/
.btn-modal-close {
    float: left;
}
#result_msg {
    margin-top: 60px;
    text-align: center;
    font-size: initial;
    height: 25px;
}
#create_result_msg, #edit_result_msg {
    padding-top: 10px;
}
#new_task_name, #edit_task_name, #delete_task_password_confirm {
    margin-top: 10px;
}

#user_account .password_section {
    display: none;
}
#change_password {
    margin-top: 10px;
}


/* Color styles */
.red {
    color: red;
}

/* Position styles */
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

/* Bootstrap styles */
#task_action_buttons .modal-dialog {
    margin-top: 75px;
}