<script id="delete_task_mustache_tpl" type="text/html">

<div class="modal-dialog" id="delete_task" >

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete current task</h4>
        </div>
            <div class="modal-body">
                <div class="">Do you really want to delete task: <strong>{{name}}</strong>?</div>
                <input
                    type="password"
                    id="delete_task_password_confirm"
                    class="form-control"
                    placeholder="Enter your password for confirmation"
                    autofocus />
                <div id="delete_result_msg" class="red"></div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-modal-close" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="ActionProvider.deleteTask()">Delete</button>
        </div>
    </div>

</div>

</script>