/************** Color palette ***************/
/************** Mixins ***************/
/************** Styles ***************/
/*========== Main Menu ==========*/
ul.dropdown-menu[aria-labelledby="account-nav-dropdown"] {
  min-width: 100%;
}
ul.dropdown-menu[aria-labelledby="account-nav-dropdown"] .glyphicon {
  max-height: 20px;
  width: 20px;
}
#login_msg,
#register_msg {
  height: auto;
  display: block;
  margin-bottom: 5px;
  text-align: center;
}
button#login,
button#register {
  margin: 25px 0 10px 0;
}
/*========== Modal Window ==========*/
.modalErrorMsg {
  margin-top: -10px;
}
/* Color styles */
.red {
  color: #d9534f;
}
/* Position styles */
.left {
  float: left;
}
.right {
  float: right;
}
/* Bootstrap styles */
.container > .navbar > .container-fluid > .navbar-collapse {
  padding-right: 0;
}
.navbar-right .loading a {
  cursor: default;
}
.form-horizontal div[class*="col-"] > div[class*="col-"] .has-feedback .form-control-feedback {
  right: 0;
}
.form-horizontal .lableAlignBottom {
  display: flex;
  align-items: flex-end;
}
.form-horizontal .lableAlignBottom .control-label {
  margin-bottom: 20px;
}
.btn {
  min-width: 65px;
}
/*==================== Media ======================*/
