<script id="edit_task_mustache_tpl" type="text/html">

<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit task name</h4>
        </div>
            <div class="modal-body">
                <input type="text" id="edit_task_name" value="{{name}}" class="form-control" autofocus />
                <div id="edit_result_msg" class="red"></div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-modal-close" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="ActionProvider.editTask()">Save</button>
        </div>
    </div>

</div>

</script>