<!-- Page Tasks -->
<div class="row"> <!-- Title -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="text-center">Work Time Counter</h1>
    </div>
</div>

<div class="row"> <!-- Select Task Name -->
    <h2 class="text-center">Current task name: </h2>
    <div class="col-sm-12 col-md-6 col-md-offset-3">
        <select id="taskList" class="form-control" onchange="ActionProvider.getTask('time', this.value)"></select>
    </div>
</div>

<section id="task_action_buttons">
    <div class="row"> <!-- Current Task Actions -->
        <div class="col-sm-12 col-md-6 col-md-offset-3 task_actions">
            <button
                    id="newTask"
                    class="btn btn-primary btn-lg"
                    data-toggle="modal"
                    data-target="#create_new_task"
                    onclick="$('#create_new_task').load('templates/new_task.html');">
                Create new task
            </button>
            <button
                    id="editTask"
                    class="btn btn-success btn-lg"
                    data-toggle="modal"
                    data-target="#edit_task"
                    onclick="ActionProvider.renderEditTask()">
                Edit current task
            </button>
            <button
                    id="deleteTask"
                    class="btn btn-warning btn-lg"
                    data-toggle="modal"
                    data-target="#delete_task">
                Delete current task
            </button>
        </div>
        <div id="create_new_task" class="modal fade" role="dialog"></div>
        <div id="edit_task" class="modal fade" role="dialog"></div>
        <div id="delete_task" class="modal fade" role="dialog"></div>
    </div>
</section>

<div class="row"> <!-- Result Messages -->
    <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <div id="result_msg"></div>
    </div>
</div>

<section id="start_stop_section">
    <div class="row"> <!-- Start, Stop Buttons -->
        <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button type="button" name="start" id="buttonStart" onclick="ActionProvider.startTicking()">Start</button>
        </div>
        <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button type="button" name="stop" id="buttonStop" onclick="ActionProvider.stopTicking()">Stop</button>
        </div>
    </div>
</section>

<section id="output_section" class="container">
    <div class="row"> <!-- Time -->
        <h2 class="text-center">Time spent on this task: </h2>
        <h2 id="counter" class="text-center"></h2>
    </div>
</section>