<!--<div class="row form-wrapper col-lg-10 col-lg-offset-1"> &lt;!&ndash; Create new task result message&ndash;&gt;-->
    <!--<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">-->
        <!--<div id="createResult" class="form-group"></div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="row form-wrapper col-lg-10 col-lg-offset-2"> &lt;!&ndash; Create new task &ndash;&gt;-->
    <!--<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">-->
        <!--<div class="form-group">-->
            <!--<input type="text" id="new_task_name" placeholder="Enter new task name..." class="form-control"/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">-->
        <!--<div class="form-group">-->
            <!--<button type="button" name="create" class="btn btn-primary" onclick="createTask()">Create new task</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create new task</h4>
        </div>
        <div class="modal-body">
            <input type="text" id="new_task_name" placeholder="Enter new task name..." class="form-control"/>
            <div id="create_result_msg" class="red"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-modal-close" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="createTask()">Save</button>
        </div>
    </div>

</div>