<!-- Register Page -->
<div class="row"> <!-- Title -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="text-center">Work Time Counter</h1>
    </div>
</div>

<section class="col-lg-4 col-lg-offset-4">

    <h2 class="text-center">Register</h2>

    <span id="register_msg"></span>

    <div class="form-group">
        <input type="text" id="userName" class="form-control" placeholder="User name" />
    </div>

    <div class="form-group">
        <input type="email" id="email" class="form-control" placeholder="Email address" />
    </div>

    <div class="form-group">
        <input type="password" id="password" class="form-control" placeholder="Password" />
    </div>
    <div class="form-group">
        <input type="password" id="passwordConfirm" class="form-control" placeholder="Confirm password" />
    </div>

    <button type="submit" id="register" class="btn btn-lg btn-primary btn-block" onclick="ActionProvider.register()">Register</button>

    <a href="#" id="login_page" onclick="$('#content').load('templates/login.html');">Back to login</a>

</section>