<!-- Page Counter -->
<div class="row"> <!-- Select Task Name -->
    <h2 class="text-center">Tasks</h2>

    <div class="row"> <!-- Result Messages -->
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            <div id="result_msg"></div>
        </div>
    </div>

    <section id="task_action_buttons">
        <div class="row"> <!-- Current Task Actions -->
            <div class="col-sm-12 col-md-6 col-md-offset-3 task_actions">
                <button
                        id="newTask"
                        title="Create new task"
                        class="btn btn-primary btn-lg btn-action"
                        data-target=".modal">
                    Create
                </button>
            </div>
            <div id="task_action_modal" class="modal fade" role="dialog"></div>
        </div>
    </section>

    <div class="col-sm-12 col-md-8 col-md-offset-2">
        <ul id="taskList">
            <script id="taskListTemplate" type="text/template">
                <li class="header">
                    <span class="task_index">No.</span>
                    <span class="name">Name</span>
                    <span class="spent_time">Spent time</span>
                </li>
                {{#listItems}}
                <li data-id="{{Id}}">
                    <span class="task_index">{{index}}.</span>
                    <span class="name">{{Name}}</span>
                    <span class="spent_time">{{SpentTime}}</span>
                    <button type="button" name="start" class="btn btn-warning start" >Start</button>
                    <button type="button" name="stop" class="btn btn-primary stop" >Stop</button>

                    <span class="edit_animation_box"></span>
                </li>
                {{/listItems}}
            </script>
        </ul>
    </div>
</div>

<!-- Counter menu item -->
<div style="display:none;">
    <!-- Counter menu item -->
    <li id="menu_item" class="active"><a href="#">Counter</a></li>
</div>