<!-- Page Counter -->
<div class="row">
    <!-- Counter Title -->
    <h2 class="text-center">Tasks</h2>

    <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1 centered_flex">

            <!-- Result Messages -->
            <div id="result_msg"></div>
        </div>
    </div>
    <!-- Counter New Task Button -->
    <button id="newTask" title="Create new task" class="btn btn-primary btn-lg" data-target=".modal">
        Create
    </button>

    <!-- Modal window -->
    <div id="task_action_modal" class="modal fade" role="dialog"></div>

    <!-- Task List -->
    <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="pagination_box">
            <select class="form-control paginationItemsPerPage"></select>
            <ul class="pagination"></ul>
        </div>
        <ul id="taskList">
            <script id="taskListTemplate" type="text/template">
                <li class="header">
                    <span class="task_index">No.</span>
                    <span class="name">Name</span>
                    <span class="spent_time">Spent time</span>
                </li>
                {{#listItems}}
                <li data-id="{{Id}}">
                    <span class="task_index">{{index}}.</span>
                    <span class="name">{{Name}}</span>
                    <span class="spent_time">{{SpentTime}}</span>
                    <button type="button" name="start" class="btn btn-warning start" >Start</button>
                    <button type="button" name="stop" class="btn btn-primary stop" >Stop</button>

                    <span class="edit_animation_box"></span>
                </li>
                {{/listItems}}
            </script>
        </ul>
        <div class="pagination_box">
            <select class="form-control paginationItemsPerPage">
                <script id="paginationIPPTemplate" type="text/template">
                    {{#options}}
                    <option value="{{index}}" {{selected}}>{{number}}</option>
                    {{/options}}
                </script>
            </select>
            <ul class="pagination">
                <script id="paginationTemplate" type="text/template">
                    {{#paginationItems}}
                    <li class="{{active}}"><a href="#" class="paginationBtn" data-page_num="{{pageNum}}">{{pageNum}}</a></li>
                    {{/paginationItems}}
                </script>
            </ul>
        </div>
    </div>
</div>


<!-- Partial Counter Items -->
<div style="display:none;">
    <!-- Counter Menu item -->
    <li id="counter_menu_item" class="active"><a href="#">Counter</a></li>

    <!-- Counter SideMenu active item -->
    <div id="counter_side_menu_active_item">
        <!--<span class="task_index"></span>-->
        <span class="name"></span>
        <span class="spent_time"></span>

        <button type="button" name="stop" class="btn btn-primary btn-lg stop" >Stop</button>
    </div>
</div>