<!-- Login Page -->
<div class="row"> <!-- Title -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="text-center">Work Time Counter</h1>
    </div>
</div>

<section class="col-lg-4 col-lg-offset-4">

    <h2 class="text-center">Login</h2>

    <span id="login_msg"></span>

    <div class="form-group">
        <input type="email" id="email" class="form-control" placeholder="Email address" required/>
    </div>

    <div class="form-group">
        <input type="password" id="password" class="form-control" placeholder="Password" required/>
    </div>

    <button type="button" id="login" class="btn btn-lg btn-primary btn-block" onclick="ActionProvider.login()">Login</button>

    <a href="#" id="register_page" onclick="$('#content').load('view/register.html');">Register</a>
    <!--<a href="#" id="forgot_password">Forgot password?</a>-->

</section>