<!-- Create modal body -->
<script id="modal_body_create" type="text/html">

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label" for="new_task_name">Name</label>
            <div class="col-md-8">
                <input type="text" id="new_task_name" value="" class="form-control" name="new_task_name" placeholder="Enter some creative name..." autofocus />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="new_task_spent_time">Spent Time</label>
            <div class="col-md-8">
                <input type="text" id="new_task_spent_time" value="{{taskSpentTime}}" class="form-control" name="new_task_spent_time"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="new_task_date_created">Date Created</label>
            <div class="col-md-8">
                <input type="text" id="new_task_date_created" value="{{taskDateCreated}}" class="form-control" name="new_task_date_created"/>
            </div>
        </div>
    </div>

    <div id="create_result_msg" class="red"></div>

</script>

<!-- Edit / Delete modal body -->
<script id="modal_body_edit_delete" type="text/html">

    <div class="modal-tabs">
        <span id="edit_page" class="active">Edit</span>
        <span id="delete_page">Delete</span>
    </div>

    <section id="edit_body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label" for="edit_name">Name</label>
                <div class="col-md-8">
                    <input type="text" id="edit_name" value="{{taskName}}" class="form-control" name="edit_name" autofocus />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="edit_spent_time">Spent Time</label>
                <div class="col-md-8">
                    <input type="text" id="edit_spent_time" value="{{taskSpentTime}}" class="form-control" name="edit_spent_time"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="edit_date_created">Date Created</label>
                <div class="col-md-8">
                    <input type="text" id="edit_date_created" value="{{taskDateCreated}}" class="form-control" name="edit_date_created"/>
                </div>
            </div>
        </div>
    </section>

    <section id="delete_body">
        <div class="form-horizontal">
            <span class="info">If you really want to delete task: <strong>{{taskName}}</strong>, enter password.</span>
            <div class="form-group">
                <label class="col-md-4 control-label" for="delete_task_password_confirm">Confirm password</label>
                <div class="col-md-7">
                    <input type="password" id="delete_task_password_confirm" name="delete_task_password_confirm" class="form-control" autofocus />
                </div>
            </div>
        </div>
    </section>

    <div id="edit_result_msg" class="red"></div>

</script>

<!-- Account / App settings modal body -->
<script id="modal_body_account_app" type="text/template">
	
    <div class="modal-tabs">
        <span id="account_page" class="active">Account</span>
        <span id="app_page">Application</span>
    </div>
	
	<section id="account_settings_body">
		<div class="form-horizontal">
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="userName">User Name</label>
				<div class="col-md-6">
					<input value="{{userName}}" id="userName" name="userName" type="text" placeholder="Enter your User Name" class="form-control input-md" autofocus>
				</div>
			</div>
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="email">Email</label>
				<div class="col-md-6">
					<input value="{{email}}" id="email" name="email" type="email" placeholder="Enter your Email" class="form-control input-md">
				</div>
			</div>
			<!-- Checkbox -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="change_password">Change Password</label>
				<div class="col-md-6">
					<input type="checkbox" name="change_password" id="change_password" onclick="$('section.password_section').toggle();">
				</div>
			</div>
			<section class="password_section">
				<!-- Password old input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="password_old">Current Password *</label>
					<div class="col-md-6">
						<input id="password_old" name="password_old" type="password" class="form-control input-md">
					</div>
				</div>
				<!-- Password new input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="password_new">New Password *</label>
					<div class="col-md-6">
						<input id="password_new" name="password_new" type="password" class="form-control input-md">
					</div>
				</div>
				<!-- Password confirm input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="password_confirm">Confirm New Password *</label>
					<div class="col-md-6">
						<input id="password_confirm" name="password_confirm" type="password" class="form-control input-md">
					</div>
				</div>
			</section>
		</div>
	</section>
	
	<section id="app_settings_body">
		<div class="form-horizontal">
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="themeColor">Theme color</label>
				<div class="col-md-6">
					<select id="themeColor" name="themeColor" class="form-control">
						{{#appSettings.themeColorOptions}}
						<option value="{{color}}" {{selected}}>{{color}}</option>
						{{/appSettings.themeColorOptions}}
					</select>
				</div>
			</div>
			<!-- Checkbox -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="sideMenuActive">Side Menu active</label>
				<div class="col-md-6">
					<input type="checkbox" name="sideMenuActive" id="sideMenuActive" onclick="$('section.side_menu_position').toggle();" {{appSettings.checked}}>
				</div>
			</div>
			<section class="side_menu_position" style="display:{{appSettings.sectionDisplay}};">
				<!-- Select box -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="sideMenuPosition">Side Menu position</label>
					<div class="col-md-6">
						<select id="sideMenuPosition" name="sideMenuPosition" class="form-control">
							{{#appSettings.sideMenuPositions}}
							<option value="{{position}}" {{selected}}>{{position}}</option>
							{{/appSettings.sideMenuPositions}}
						</select>
					</div>
				</div>
			</section>
		</div>
	</section>
	
    <div id="edit_account_result_msg" class="red"></div>

</script>

<!-- Modal Submit Button -->
<div id="modal_submit_btn">
    <button type="button" class="btn btn-primary submit_btn"></button>
</div>